// you can change colors here
$theme-color: #54454c;
$text-color: (
	light: #1C1719,
	dark: #9e9e9e,
);

// add custom font
@font-face {
	font-family: "Torus";
	src: url("/assets/font/Torus-SemiBold.ttf");
}

@font-face {
	font-family: "AlibabaPuHuiTi-3-55-Regular";
	src: url("/assets/font/AlibabaPuHuiTi-3-55-Regular.ttf");
}

$font-family: 'Torus,AlibabaPuHuiTi-3-55-Regular';
$font-family-heading: 'Torus,AlibabaPuHuiTi-3-55-Regular';
$font-family-mono: 'Torus,AlibabaPuHuiTi-3-55-Regular';