// you can change colors here
$theme-color: #2a2226;
$font-family: '"AlibabaPuHuiTi-3-55-Regular", Torus';
$font-family-heading: '"AlibabaPuHuiTi-3-55-Regular", Torus';
$font-family-mono: '"AlibabaPuHuiTi-3-55-Regular", Torus';