// you can change colors here
$theme-color: #54454c;
$text-color: (
	light: #1C1719,
	dark: #9e9e9e,
);
$font-family: '"AlibabaPuHuiTi-3-55-Regular", Torus';
$font-family-heading: '"AlibabaPuHuiTi-3-55-Regular", Torus';
$font-family-mono: '"AlibabaPuHuiTi-3-55-Regular", Torus';